body{
    background-color:#282828;
    color:darkgrey;
}

.my-name{
    text-align:center;
}
.my-name h1{
    font-size:larger;
}

.my-name p{
    border-bottom-style:groove;
    font-size:medium;
}

.general{
    margin:auto;
}

.general .heading{
    text-align:center;
}

.acquired-skills{
    border-left-style:dashed;
    border-right-style:dashed;
    border-color:grey;
}

.acquired-skills h3{
    font-size:larger;
    text-align:center;
}

ol.traits{

}

ol.prior-experience{
    
}


.container .coding h3{
    text-align:center;
}

.coding .heading{
    text-align:left;
    margin-top: ;
}

.automotive{
    text-align:left;
}

.raider{

}

.camaro{
    
}