body{
    background-color: #282828;
    color: darkgrey;
}

.my-name{
    text-align:center;
}
.my-name h1{
    font-size: larger;
}

.my-name p{
    border-bottom-style: groove;
    font-size: medium;
}

.acquired-skills{
    border-left-style:dashed;
    text-align: center;
}

.acquired-skills h3{
    font-size: medium;
}

ol.traits{

}

ol.prior-experience{
    
}

.container .coding{
    text-align: left;
}

.container .other{
    text-align: left;
}

.automotive{
    
}

.raider{

}
.camaro{
    
}