body{
    background-color: #282828;
    color: darkgrey;
}

.my-name h1{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.my-name p{
    border-bottom-style: groove;
    font-size: medium;
    font-family: ('Franklin Gothic Medium', 'Arial Narrow', 'Arial');
    text-align: center;
}

.acquired-skills{
    text-align: left;
}

.acquired-skills h3{
    text-align: left;
    font-size: medium;
}

ul.traits{
    border: solid;
    text-align: left;
}

.work-experience:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.character{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul.prior-experience{
    text-align: left;
}

.computer-related{
    text-align: left;
}

.computer-related .tooltip{
    position: relative;
}
.computer-related .tooltip .tooltiptext{
    visibility: hidden;
}
.computer-related .tooltip:hover .tooltiptext{
    visibility: visible;
}

.automotive{
    text-align: left;
}

.automotive .tooltip{
    position: relative;
}

.raider{
    background-image: src;
}
.camaro{
    background-image: src;
}

.automotive .tooltip .tooltiptext{
    visibility: hidden;
}

.automotive .tooltip:hover .tooltiptext{
    visibility: visible;
}